#mapid { 

width: 800px;
height: 650px; 

}

.number-icon
{
	
	opacity: 0.9;
    
}

#A {
	border: 1px solid black; 	
	position: absolute;
	top: 110px;
	left: 840px;
	width: 350px;
	height: 100%;	
}

#B {
	border: 5px solid red;
	position: absolute;
	background-color: rgba(245,0,0,0.5);
	top: 30px;
	left: 1310px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#text {
	position: absolute;
	width: 350px;
	height: 60px;
	top: 0px;
	border-radius: 20px;
	padding: 5px;
	margin: 17px;
	left: 810px;
	border: 3px solid rgba(245,0,0,0.5);
}

.info {
    padding: 6px 8px;
	width: 200px;
	height: 100px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#C {
	border: 5px solid green;
	position: absolute;
	background-color: rgba(0,245,0,0.5);
	top: 100px;
	left: 1310px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#D {
	border: 5px solid blue;
	position: absolute;
	background-color: rgba(0,0,245,0.5);
	top: 190px;
	left: 1310px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}